.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}
// .main__game__categories {
// 	display: flex;
// }
ul li{
	list-style-type: none;
}

// .game {
// 	display: flex;
//     align-items: center;
//     justify-content: center;
//     justify-content: space-between;
// }
//     