.landingSplash {
	width: 70%;
	// height: 60%;
	margin: 0 auto;
	background-color: rgba(11, 64, 100, 0.9);
	position: absolute;
	// border-radius: 20px;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 50px;
	margin-top: 20px;
	.landingSplash__title {
		// position: absolute;
		// top: 30%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		width: 90%;
		margin: 0 auto;
	}
	p{
		text-align: center;
		font-size: 16px;
		color: $lightbluegreen;
	}
	.landingSplash__title h1 {
		font-family: $roboto;
		color: $lightbluegreen;
		font-size: 60px;
		margin: 0;
		line-height: 65px;
		text-transform: uppercase;
		letter-spacing: 7px;
		text-align: center;
		padding: 0 20px;
		text-shadow:
		    7px 7px 0 $darkblue,
		    -3px -2px 0 $darkblue,  
		    3px -2px 0 $darkblue,
		    -3px 2px 0 $darkblue,
		     3px 2px 0 $darkblue;
	}
	form {
		// position: absolute;
		// transform: translate(-50%, -50%);
		width: 40%;
		margin: 0 auto;
		text-align: center;
		// top: 50%;
		// left: 50%;
		display: flex;
		flex-direction: column;
		font-size: 20px;
		color: $lightbluegreen;
		padding-top: 100px;
	}
	select {
		// padding: 15px;
		// height: 20px;
		color: black;
	}
	button {
		// width: 50px;
		padding: 10px;
		border: none;
		background-color: $lightbluegreen;
		color: $darkblue;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 3px;
		margin-top: 20px;
	}
	// button:hover {
		
	//  }
}

