section.main {
	height: 100vh;
	display: none;
}
.main__header {
	text-align: center;
}

.main__header__score {
	color: $lightbluegreen;
}

// .main__header__score:before {
// 	content: '$';
// }

.main__header h2{
	margin: 0;
}


.main__game__categories {
	width: 80%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin: auto;
	button {
		font-size: 25px;
		background-color: #00A;
		border-radius: 5px;
		width: 100%;
		margin: 10px 0;
		height: 50px;
		width: 100px;
		// border: 1px solid white;
		color: yellow;
		
	}
	button:hover {
		border-color: yellow;
		color: yellow;
	}
	.gameCategory {
		font-size: 25px;
		margin: 10px 20px;
		padding: 0;
	}
	.category {
		color: #FFF;
		padding: 15px;
		margin: 0 0 20px 0;
		background: $darkblue;
		border-radius: 7px;
	}
}

.window__game{
	background: url('/../images/game_window_full.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

// input {
// 		padding: 5px;
// 		border-radius: 3px;
// 		border: none;
// 		background-color: grey;
// 		color: white;
// 		transition: .5s;
// 	}

// input:hover {
// 		color: black;
// }

.main__game input[type=submit] {
	display: block;
	width: 400px;
	margin: 0 auto;
}

#againButton {
	margin: 50px auto;
}

//======================================
//            MEDIA QUERIES              
//======================================


@media (max-width: 1120px) {
	
}

// Portrait tablet and small desktops
@media (max-width: 940px) {
	
}
 
// Landscape phone to portrait tablet
@media (max-width: 767px) {
	
}
 
// Landscape phones and down
@media (max-width: 480px) {
	
}


@media (max-width: 400px) {

}