.questions {
	display: none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background: rgba(0,0,0,0.2);
	.wrapper {
		background: white;
		padding: 40px 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	h3 {
		text-align: center;
	}
	p {
		text-align: center;
		color: red;
		&:after, &:before {
			content: '"';
		}
	}
	.questions__options {
		display: flex;
		justify-content: space-around;
	}
	input[type=submit] {
		display: block;
		margin: 0 auto;
	}
	.questions__giveUp {
		position: absolute;
		top: 10px;
		right: 10px;
		background: rgba(255, 100, 100, 0.5);
		border: rgba(255, 100, 100, 1) solid 1px;
	}

}



