.questions {
	display: none;
	position: fixed;
	top:0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background: rgba(0,0,0,0.2);
	.wrapper {
		background-color: rgba(11, 64, 100, .97);
		padding: 40px 25px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		color: $lightbluegreen;
	}
	h3 {
		text-align: center;
		font-size: 30px;
	}
	p {
		text-align: center;
		color: $limegreen;
		font-size: 20px;
		&:after, &:before {
			content: '"';
		}
	}
	.questions__options {
		display: flex;
		flex-direction: column;
		align-items: center;
		.option {
			margin: 0 0 10px 0;
		}
		input[type='radio'] {
			margin-left: 10px;
		}
		// input[type='submit'] {
		// 	margin: 20px 0;
		// }
	}

}
input[type=submit] {
	display: block;
	margin: 20px auto;
	margin-top: 30px;
	// width: 100px;
	background-color: $lightbluegreen;
	color: $darkblue;
	text-transform: uppercase;
	font-weight: 600;
}
.wrapper .questions__giveUp {
	// border: rgba(255, 100, 100, 1) solid 1px;
	position: relative;
	float: right;
	text-transform: uppercase;
	font-weight: 600;
	padding: 5px 10px;
	background: $lightbluegreen;
	border: none;
	color: $darkblue;
}
.wrapper .questions__giveUp:hover {
	background: $limegreen;
}



//======================================
//            MEDIA QUERIES              
//======================================
 
@media (max-width: 515px) {
	.questions {
		width: 100%;
		.wrapper {
			padding: 30px 15px;
			width: 90%;
		}
		h3 {
			font-size: 25px;
			margin: 10px 0;
		}
		p {
			font-size: 15px;
		}
	}
	.wrapper .questions__giveUp {
		padding: 2px 5px;
	}
	.main__game input[type='submit'] {
		padding: 10px 5px;
		width: 150px;
	}
}