.scores {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	.userScore:before {
		content: '$';
	}

	ul{
		padding: 0;
		text-align: center;
	}
}
footer {
	justify-self: flex-end;
}



//======================================
//            MEDIA QUERIES              
//======================================


@media (max-width: 1120px) {
	
}

// Portrait tablet and small desktops
@media (max-width: 940px) {
	
}
 
// Landscape phone to portrait tablet
@media (max-width: 767px) {
	
}
 
// Landscape phones and down
@media (max-width: 480px) {
	
}


@media (max-width: 400px) {

}