//======================================
//               COLOURS               
//======================================

$darkblue: #0B4064;
$lightbluegreen: #D8E6DE;
$white: #FFF;
$limegreen: #D1DD28;

//======================================
//       FONTS AND HEADING SIZES       
//======================================

// Used for most paragraphs and other large bodies of text
$openSans: 'Open Sans', sans-serif;

// Used for Headers
$roboto: 'Roboto Slab', serif;